<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header" class="header">
    <nav class="nav-container">
        <a href="/" class="logo">влад невский</a>
        <div class="nav-menu">
            <a href="/" class="nav-link">главная</a>
            <a href="/catalog" class="nav-link">барахолка</a>
            <a href="/news" class="nav-link">афиша</a>
            <a href="/contact" class="nav-link">контакты</a>
            <a th:href="${session.username != null} ? '/profile' : '/register'" class="register-btn"
               th:text="${session.username != null} ? 'профиль' : 'регистрация'"></a>
        </div>
    </nav>
</header>
</body>
</html>